body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
}

.card {
    background: white;
    color: black;
    padding: 30px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 10px;
    width: 100%;
    background: #ff4b2b;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}